<div class="page-header">
  <h1>
    My Favorites
    <a href="/favorites/new" class="btn btn-lg btn-success">New Favorite</a>
  </h1>
</div>


<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>News source</th>
        <th>Image </th>
        <th>Actions</th>
      </tr>



      <% @favorites.each do |favorite| %>
      <% if favorite.user == current_user %>
      <tr>
        <td>
          <% if favorite.news_source.present? %>
          <a href="/news_sources/<%= favorite.news_source.id %>">
            <%= favorite.news_source.name %>
          </a>
          <% end %>
        </td>
        <td><img src='<%= favorite.news_source.image %>' class='img-responsive'width="75"></td>
        <td>
          <a href="/news_sources/<%= favorite.news_source.id %>" class="btn btn-primary">Show</a>
          <a href="/delete_favorite/<%= favorite.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
      <% end %>
    </table>
  </div>
</div>
