<div class="page-header">
  <h3><%= @user.username %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Username</dt>
      <dd><%= @user.username %></dd>

      <dt>Political party</dt>
      <dd><%= @user.political_party %></dd>

      <dt>Nationality</dt>
      <dd><%= @user.nationality %></dd>

      <dt>Gender</dt>
      <dd><%= @user.gender %></dd>

      <dt>Age</dt>
      <dd><%= @user.age %></dd>

      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <!--  <dt>Password</dt>
      <dd><%= @user.password %></dd> -->

    </dl>
  </div>
</div>

<!-- A User has many bias_ratings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        User Bias Ratings
      </li>

      <% @user.bias_ratings.each do |bias_rating| %>
      <li class="list-group-item">
        <%= bias_rating.news_source.name %> - <%= bias_rating.rating %>
      </a>
      <div class="btn-group btn-group-xs pull-right">
        <a href="/bias_ratings/<%= bias_rating.id %>" class="btn btn-primary">
          <i class="fa fa-search-plus"></i>
        </a>
        <%if current_user == bias_rating.user %>
        <a href="/bias_ratings/<%= bias_rating.id %>/edit" class="btn btn-warning">
          <i class="fa fa-edit"></i>
        </a>
        <a href="/delete_bias_rating/<%= bias_rating.id %>" class="btn btn-danger" rel="nofollow">
          <i class="fa fa-trash-o"></i>
        </a>
        <% end %>
      </div>
    </li>
    <% end %>
  </ul>
</div>
</div>

<!-- A User has many favorites -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Favorites
      </li>

      <% @user.favorites.each do |favorite| %>
      <li class="list-group-item">
        <a href="/favorites/<%= favorite.id %>">
          <%= favorite.news_source.name %>
        </a>
        <div class="btn-group btn-group-xs pull-right">
          <a href="/favorites/<%= favorite.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
          <%if current_user == favorite.user %>
          <a href="/favorites/<%= favorite.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
          <a href="/delete_favorite/<%= favorite.id %>" class="btn btn-danger" rel="nofollow">
            <i class="fa fa-trash-o"></i>
          </a>
          <% end %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many reports -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reports
      </li>

      <% @user.reports.each do |report| %>
      <li class="list-group-item">
        <%= report.news_source.name %> -
        <%= report.content %>
      </a>
      <div class="btn-group btn-group-xs pull-right">
        <a href="/reports/<%= report.id %>" class="btn btn-primary">
          <i class="fa fa-search-plus"></i>
        </a>
        <%if current_user == report.user %>
        <a href="/reports/<%= report.id %>/edit" class="btn btn-warning">
          <i class="fa fa-edit"></i>
        </a>
        <a href="/delete_report/<%= report.id %>" class="btn btn-danger" rel="nofollow">
          <i class="fa fa-trash-o"></i>
        </a>
        <% end %>
      </div>
    </li>
    <% end %>
  </ul>
</div>
</div>

<!-- A User has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @user.comments.each do |comment| %>
      <li class="list-group-item">
          <%= comment.news_source.name %> -
          <%= comment.content %>
        </a>
        <div class="btn-group btn-group-xs pull-right">
          <a href="/comments/<%= comment.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
          <%if current_user == comment.user %>
          <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
          <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
            <i class="fa fa-trash-o"></i>
          </a>
          <% end %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>


<!-- A User has many observations -->

  <div class="btn-group btn-group-justified">
    <a href="/users" class="btn btn-primary">
      Back
    </a>
  </div>
</div>
