<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Username</dt>
      <dd><%= @user.username %></dd>

      <dt>Political party</dt>
      <dd><%= @user.political_party %></dd>

      <dt>Nationality</dt>
      <dd><%= @user.nationality %></dd>

      <dt>Gender</dt>
      <dd><%= @user.gender %></dd>

      <dt>Age</dt>
      <dd><%= @user.age %></dd>

      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Password</dt>
      <dd><%= @user.password %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>
