<!-- Validation failure messages -->
<% if @news_source.errors.any? %>
<% @news_source.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header">
  <h3>Add News Source</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_news_source" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for category -->
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Select Category
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role= "presentation"><a  role ="menuitem" tabindex= "-1" href="#">Newspaper(Print and Online)</a></li>
          <li role= "presentation"><a  role ="menuitem" tabindex= "-1" href="#">Newspaper(Print Only)</a></li>
          <li role= "presentation"><a  role ="menuitem" tabindex= "-1" href="#">Website</a></li>
          <li role= "presentation"><a  role ="menuitem" tabindex= "-1" href="#">Radio Station</a></li>
          <li role= "presentation"><a  role ="menuitem" tabindex= "-1" href="#">Television Channel</a></li>
        </ul>
      </div>


      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @news_source.description %></textarea>
      </div>

      <!-- Label and input for location -->
      <div class="form-group">
        <label for="location" class="control-label">
          Location
        </label>

        <input type="text" id="location" name="location" placeholder="Location" class="form-control" value="<%= @news_source.location %>">
      </div>

      <!-- Label and input for date_founded -->
      <div class="form-group">
        <label for="date_founded" class="control-label">
          Date founded
        </label>

        <input type="text" id="date_founded" name="date_founded" placeholder="Date founded" class="form-control" value="<%= @news_source.date_founded %>">
      </div>

      <!-- Label and input for ownership -->
      <div class="form-group">
        <label for="ownership" class="control-label">
          Ownership
        </label>

        <input type="text" id="ownership" name="ownership" placeholder="Ownership" class="form-control" value="<%= @news_source.ownership %>">
      </div>

      <!-- Label and input for image -->
      <div class="form-group">
        <label for="image" class="control-label">
          Image
        </label>

        <input type="file" id="image" name="image" class="form-control">
      </div>

      <!-- Label and input for website -->
      <div class="form-group">
        <label for="website" class="control-label">
          Website
        </label>

        <input type="text" id="website" name="website" placeholder="Website" class="form-control" value="<%= @news_source.website %>">
      </div>

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @news_source.name %>">
      </div>

      <button class="btn btn-success">
        Create News Source
      </button>
      or
      <a href="/news_sources">Cancel</a>
    </form>
  </div>
</div>
