<div class="page-header">
  <h3><%= @news_source.name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Category</dt>
      <dd><%= @news_source.category %></dd>

      <dt>Bias Rating</dt>
      <dd>Nothing</dd>

      <dt>Description</dt>
      <dd><%= @news_source.description %></dd>

      <dt>Location</dt>
      <dd><%= @news_source.location %></dd>

      <dt>Date founded</dt>
      <dd><%= @news_source.date_founded %></dd>

      <dt>Ownership</dt>
      <dd><%= @news_source.ownership %></dd>

      <dt>Image</dt>
      <dd><img src="<%= @news_source.image %>" class="img-responsive"></dd>

      <dt>Website</dt>
      <dd><%= @news_source.website %></dd>

      <dt>Name</dt>
      <dd><%= @news_source.name %></dd>

    </dl>
  </div>
</div>

<!-- A News source has many bias_ratings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Currrent Bias Rating (1=far right, 10=far left)
      </li>

      <li class="list-group-item">
      <% arr =@news_source.bias_ratings.pluck(:rating)%>
      <%=arr.inject{ |sum, el| sum + el }.to_f / arr.size %>
    </li>

      <li class="list-group-item">
        <form action="/create_bias_rating" method="post">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for user_id -->
          <input type="hidden" name="user_id" value="<%= current_user.id %>">

          <!-- Label and input for news_source_id -->
            <input type="hidden" name="user_id" value="<%= @news_source.id %>">

          <!-- Label and input for rating -->
          <div class="form-group">
            <label for="rating" class="control-label">
              Your Rating
            </label>

            <input type="text" id="rating" name="rating" placeholder="Rating" class="form-control" value="">
          </div>

          <button class="btn btn-block btn-success">
            Create Bias Rating
          </button>
        </form>
      </li>
    </ul>
  </div>
</div>

<!-- A News source has many favorites -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Number of Users who List this as a Favorite
      </li>

      <li class="list-group-item">
      <% arr =@news_source.favorites.pluck(:user_id)%>
      <%=arr.size %>
    </li>

      <li class="list-group-item">
        <form action="/create_favorite" method="post">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for user_id -->
          <input type="hidden" name="news_source_id" value="<%=@news_source.id%>">
          <input type="hidden" name="user_id" value="<%=current_user.id%>">


          <button name= "submit" class="btn btn-block btn-success">
            Add <%=@news_source.name %> to your Favorites
          </button>
        </form>
      </li>
    </ul>
  </div>
</div>

<!-- A News source has many reports -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Articles Reported for Bias
      </li>

      <% @news_source.reports.each do |report| %>
      <li class="list-group-item">
          <%= report.content %>
        </a>
        <div class="btn-group btn-group-xs pull-right">
          <a href="/reports/<%= report.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
          <a href="/reports/<%= report.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
          <a href="/delete_report/<%= report.id %>" class="btn btn-danger" rel="nofollow">
            <i class="fa fa-trash-o"></i>
          </a>
        </div>
      </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_report" method="post">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for user_id -->
          <input type="hidden" name="user_id" value="<%=current_user.id%>">

          <!-- Label and input for news_source_id -->
          <input type="hidden" name="news_source_id" value="<%=@news_source.id%>">


          <!-- Label and input for content -->
          <div class="form-group">
            <label for="content" class="control-label">
              Content
            </label>

            <input type="text" id="content" name="content" placeholder="Content" class="form-control" value="">
          </div>

          <!-- Label and input for article_link -->
          <div class="form-group">
            <label for="article_link" class="control-label">
              Link
            </label>

            <input type="text" id="article_link" name="article_link" placeholder="Article link" class="form-control" value="">
          </div>

          <button class="btn btn-block btn-success">
            Report Biased Coverage from <%=@news_source.name %>
          </button>
        </form>
      </li>
    </ul>
  </div>
</div>

<!-- A News source has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        What Users Think about this News Outlet
      </li>

      <% @news_source.comments.each do |comment| %>
      <li class="list-group-item">
          <%= comment.content %>
        </a>
        <div class="btn-group btn-group-xs pull-right">
          <a href="/comments/<%= comment.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
          <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
          <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
            <i class="fa fa-trash-o"></i>
          </a>
        </div>
      </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_comment" method="post">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for user_id -->
          <!-- Label and input for user_id -->
          <input type="hidden" name="user_id" value="<%=current_user.id%>">

          <!-- Label and input for news_source_id -->
          <input type="hidden" name="news_source_id" value="<%=@news_source.id%>">

          <!-- Label and input for content -->
          <div class="form-group">
            <label for="content" class="control-label">
              Content
            </label>

            <input type="text" id="content" name="content" placeholder="Content" class="form-control" value="">
          </div>

          <!-- Label and input for news_source_id -->

          <button class="btn btn-block btn-success">
            Tell Other Users What you Think about <%= @news_source.name %>
          </button>
        </form>
      </li>
    </ul>
  </div>
</div>

<!-- A News source has many admirers -->


    <div class="btn-group btn-group-justified">
      <a href="/news_sources" class="btn btn-primary">
        Back
      </a>
      <a href="/news_sources/<%= @news_source.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_news_source/<%= @news_source.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
