<!-- Validation failure messages -->
<% if @bias_rating.errors.any? %>
  <% @bias_rating.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Bias Rating #<%= @bias_rating.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_bias_rating/<%= @bias_rating.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @bias_rating.user_id %>">
      </div>

      <!-- Label and input for news_source_id -->
      <div class="form-group">
        <label for="news_source_id" class="control-label">
          News source
        </label>

        <input type="text" id="news_source_id" name="news_source_id" placeholder="News source" class="form-control" value="<%= @bias_rating.news_source_id %>">
      </div>

      <!-- Label and input for rating -->
      <div class="form-group">
        <label for="rating" class="control-label">
          Rating
        </label>

        <input type="text" id="rating" name="rating" placeholder="Rating" class="form-control" value="<%= @bias_rating.rating %>">
      </div>

      <button class="btn btn-warning">
        Update Bias Rating
      </button>
      or
      <a href="/bias_ratings/<%= @bias_rating.id %>">Cancel</a>
    </form>
  </div>
</div>
