<div class="page-header">
  <h1>
    Bias ratings
    <a href="/bias_ratings/new" class="btn btn-lg btn-success">New Bias rating</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User</th>
        <th>News source</th>
        <th>Rating</th>
        <th>Actions</th>
      </tr>

      <% @bias_ratings.each do |bias_rating| %>
      <tr>
        <td>
          <% if bias_rating.user.present? %>
            <a href="/users/<%= bias_rating.user.id %>">
              <%= bias_rating.user.username %>
            </a>
          <% end %>
        </td>
        <td>
          <% if bias_rating.news_source.present? %>
            <a href="/news_sources/<%= bias_rating.news_source.id %>">
              <%= bias_rating.news_source.category %>
            </a>
          <% end %>
        </td>
        <td><%= bias_rating.rating %></td>
        <td>
          <a href="/bias_ratings/<%= bias_rating.id %>" class="btn btn-primary">Show</a>

          <% if current_user == bias_rating.user %>
            <a href="/bias_ratings/<%= bias_rating.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_bias_rating/<%= bias_rating.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @bias_ratings, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
