<div class="page-header">
  <h3>Bias Rating #<%= @bias_rating.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @bias_rating.user_id %></dd>

      <dt>News source</dt>
      <dd><%= @bias_rating.news_source_id %></dd>

      <dt>Rating</dt>
      <dd><%= @bias_rating.rating %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/bias_ratings" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @bias_rating.user %>
        <a href="/bias_ratings/<%= @bias_rating.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_bias_rating/<%= @bias_rating.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
