<div class="page-header">
  <h1>
    Reports
    <a href="/reports/new" class="btn btn-lg btn-success">New Report</a>
  </h1>

  <div class="row">
      <table class="table table-striped table-hover">
        <tr>
          <th>User</th>
          <th>News source</th>
          <th>Actions</th>
        </tr>

        <% @reports.each do |report| %>
        <tr>
          <td>
            <% if report.user.present? %>
            <a href="/users/<%= report.user.id %>">
              <%= report.user.username %>
            </a>
            <% end %>
          </td>
          <td>
          <% if report.news_source.present? %>
          <a href="/news_sources/<%= report.news_source.id %>">
            <%= report.news_source.name %>
          </a>
          <td>
          <% end %>
        </td>
        <td>
          <a href="/reports/<%= report.id %>" class="btn btn-primary">Show</a>
          <% if current_user.id == report.user_id  %>
          <a href="/reports/<%= report.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_report/<%= report.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @reports, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
