<div class="page-header">
  <h3>Report #<%= @report.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @report.user.present? %>
          <a href="/users/<%= @report.user_id %>">
            <%= @report.user.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Content</dt>
      <dd><%= @report.content %></dd>

      <dt>Article link</dt>
      <dd><%= @report.article_link %></dd>

      <dt>News source</dt>
      <dd>
        <% if @report.news_source.present? %>
          <a href="/news_sources/<%= @report.news_source_id %>">
            <%= @report.news_source.category %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/reports" class="btn btn-primary">
        Back
      </a>
      <a href="/reports/<%= @report.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_report/<%= @report.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
